* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  position: sticky;
  top: 0;
  height: 10vh;
  background-color: #9e1bac;
  z-index: 3;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.link-a {
  text-decoration: none;
  color: #030516;
  margin-right: 30px;
}
main {
  background-color: #030516;
  color: #e0e3fa;
}

#welcome-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#name {
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  text-align: center;
}

#description {
  font-weight: 500;
  text-align: center;
  width: 50vw;
  margin: 20px;
  font-style: italic;
  color: #9e1bac;
}
#space {
  height: 7vh;
}
#title-projects {
  color: #9e1bac;

  text-align: center;
  padding: 5vh 0 5vh;
  font-weight: 300;
  font-size: 30px;
  border-top: 4px solid #2f313d;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  height: 100%;
  width: 85%;
  margin: auto;
  background-color: #030516;
  padding-bottom: 80px;
  z-index: 0;
}

.project-tile {
  background-color: #2f313d;
  height: 350px;
  width: 350px;
  padding: 20px;
  border-radius: 5%;
  z-index: 0;
}

.project-view {
  height: 330px;
  overflow: hidden;
  z-index: 0;
}
.project-foto {
  z-index: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.lateral {
  width: auto;
}

.project-title {
  text-align: center;
  padding: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.project-link {
  text-decoration: none;
  color: #e0e3fa;
}

.coming-soon-view {
  height: 330px;
  font-size: 80px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
  color: #e0e3fa;
  text-align: center;
}

.spinner {
  padding: 80px;
}
footer {
  height: 30vh;
  background-color: #2f313d;
  color: #e0e3fa;
  text-align: center;
  border-top: 4px solid #9e1bac;
}

.contact {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 30%;
  padding: 3%;
  font-size: 30px;
}
.contact-icon {
  display: inline;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 0 40px;
  font-size: 20px;
}

.profile-link {
  color: #e0e3fa;
  height: 50%;
  text-decoration: none;
}
@media (max-width: 800px) {
  .project-tile {
    height: 270px;
    width: 250px;
  }
  .project-view {
    height: 230px;
  }

  .coming-soon-view {
    height: 230px;
  }

  .contact-icon {
    padding: 0 20px 0 20px;
  }

  .lateral {
    width: 100%;
  }

  .spinner {
    width: 100%;
    padding: 40px 0;
  }

  nav {
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .link-a {
    margin-right: 10px;
  }

  #name {
    font-size: 20px;
  }
}
